


<div class="row">
  <div class="col-sm-6">
    <h1>Projects</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_project_path, class: 'btn btn-primary' do %>
    Add New Project
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Description</th>
            
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <%= content_tag :tr, id: dom_id(project), class: dom_class(project) do %>
          
            <td><%= link_to project.name, project %></td>
          

                      <td><%= project.description %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
